@using System.Text.Json;
@{
    ViewData["Title"] = "Homepage";
    var jsonData = ViewData["JsonData"] as string;
    var jsonData2 = ViewData["JsonData2"] as string;
}
<div class="container-xxl flex-grow-1 container-p-y">
    <div class="container-xxl flex-grow-1 container-p-y">
        <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Race /</span> List etape</h4>

          <div class="row mb-4">
            <div class="col-md-3">
                <form action="@Url.Action("ResetDatabase", "Admin")" method="get">
                    <button type="submit"  class="btn btn-danger">RESET DATABASE (voafafa daoholo ny entana an!)</button>
                </form>
            </div>
            <div class="col-md-3">
                <form action="@Url.Action("ListePenalite", "Admin")" method="get">
                    <button style="float: right;"
                          type="submit" class="btn btn-primary">Pénalité</button>
                </form>
            </div>
            <div class="col-md-2">
                <form action="@Url.Action("pdfPage", "Admin")" method="get">
                    <button style="float: right;"
                          type="submit" class="btn btn-primary">Link PDF</button>
                </form>
            </div>
            <div class="col-md-2">
                <form action="@Url.Action("import", "Admin")" method="get">
                    <button type="submit"  class="btn btn-dark" style="float:right;">Import Donnee</button>
                </form>
            </div>
            <div class="col-md-2">
                <form action="@Url.Action("importPointView", "Admin")" method="get">
                    <button type="submit"  class="btn btn-dark" style="float:right;">Import Point</button>
                </form>
            </div>            
          </div>

          <div class="row mb-4">
            <div class="col-md-3">
                <form action="@Url.Action("generateCC", "Admin")" method="get">
                    <button type="submit"  class="btn btn-warning">Generate category</button>
                </form>
            </div>
          </div>

        <div class="row">
            <div class="card">
                <div class="card-header"><h4>Liste Etape</h4></div>
                <div class="card-body">
                  <div class="table-responsive text-nowrap">
                    <table class="table table-bordered">
                      <thead>
                        <tr>
                          <th>Nom</th>
                          <th>Longeur en km</th>
                          <th>Nombre coureur</th>
                          <th>Rang etape</th>
                          <th>Add</th>
                          <th>Resultat</th>
                          @* <th>Modif</th> *@
                        </tr>
                      </thead>
                      <tbody class="table-border-bottom-0">
                          @foreach(var d in Model.etapeList)
                          {
                              <tr>
                                  <td><i class="fab fa-angular fa-lg text-danger me-3"></i><strong>@d.name</strong></td>
                                  <td style="text-align: right;">@d.lkm km</td>
                                  <td style="text-align: right;">@d.nbCoureur</td>
                                  <td>@d.rangEtape</td>
                                  <form action="@Url.Action("affecterTemps", "Admin")" method="post">
                                      <input type="hidden" name="idEtape" value="@d.idEtape">
                                      <td><button type="submit" class="btn btn-dark">Temps</button></td>
                                  </form>
                                  <form action="@Url.Action("result", "Admin")" method="post">
                                      <input type="hidden" name="idEtape" value="@d.idEtape">
                                      <td><button type="submit" class="btn btn-warning">View</button></td>
                                  </form>
                              </tr>
                          }
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
            
        </div>

        <div class="row">
              <button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#modalCenter">
                Create etape
              </button>
        </div>

        <div class="row mb-4 mt-5">
            <div class="col-12 mb-4">
                <div class="card">
                    <div class="row row-bordered g-0">
                      <div class="col-7">
                        <h5 class="card-header m-0 me-2 pb-3">Classement générale</h5>
                        <div class="huhu" width="100" height="100"></div>
                      </div>
                      <div class="col-5">
                        <div class="card-body">
                          <div class="text-center">
                            <div class="dropdown">
                              <button
                                class="btn btn-sm btn-outline-primary dropdown-toggle"
                                type="button"
                                id="growthReportId"
                                data-bs-toggle="dropdown"
                                aria-haspopup="true"
                                aria-expanded="false"
                              >
                                Category
                              </button>
                              <div class="dropdown-menu dropdown-menu-end" aria-labelledby="growthReportId">
                                  @foreach(var e in Model.categoryList)
                                  {
                                      <a class="dropdown-item" href="@Url.Action("Index", "Admin", new { idCategory = e.idCoureur })" id="selectedYear"><small>@e.idCoureur</small> @e.idCategory</a>
                                  }
                              </div>
                            </div>
                                  <label>@Model.v_result_category[0].category</label>
                            <div class="hihi" width="100" height="100"></div>
                          </div>
                        </div>
                        <div class="text-center fw-semibold pt-3 mb-2"></div>

                        <div class="d-flex px-xxl-4 px-lg-2 p-4 gap-xxl-3 gap-lg-1 gap-3 justify-content-between">
                            @* @foreach(var c in Model.demandeList)
                            { *@
                            <div class="d-flex">
                                <div class="me-2">
                                <span class="badge bg-label-primary p-2"></span>
                                </div>
                                <div class="d-flex flex-column">
                                <small></small>
                                <h6 class="mb-0"></h6>
                                </div>
                            </div>
                            @* } *@
                        </div>

                      </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-4">
              <div class="card mt-5 mb-4">
                  <div class="card-header"><h4>Liste Equipe</h4></div>
                    <div class="card-body mb-4">
                      <div class="table-responsive text-nowrap">
                        <table class="table table-bordered">
                          <thead>
                            <tr>
                              <th>Nom</th>
                              <th>Log in</th>
                            </tr>
                          </thead>
                          <tbody class="table-border-bottom-0">
                              @foreach(var u in Model.userList)
                              {
                                  <tr>
                                      <td><i class="fab fa-angular fa-lg text-danger me-3"></i><strong>@u.name</strong></td>
                                      <td style="text-align: right;">@u.uuser</td>
                                  </tr>
                              }
                          </tbody>
                        </table>
                      </div>
                    </div>
                <button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#basicModal">
                  Create equipe
                </button>
              </div>
            </div>

            <div class="col-8">
              <div class="card mt-5 mb-4">
                  <div class="card-header"><h4>Liste Coureur</h4></div>
                    <div class="card-body">
                      <div class="table-responsive text-nowrap">
                        <table class="table table-bordered">
                          <thead>
                            <tr>
                              <th>Nom</th>
                              <th>Num dossard</th>
                              <th>Genre</th>
                              <th>Dtn</th>
                              <th>Equipe</th>
                            </tr>
                          </thead>
                          <tbody class="table-border-bottom-0">
                              @foreach(var c in Model.coureurList)
                              {
                                  <tr>
                                      <td><i class="fab fa-angular fa-lg text-danger me-3"></i><strong>@c.nom</strong></td>
                                      <td style="text-align: right;">@c.numDossard</td>
                                      <td style="text-align: right;">@c.genre</td>
                                      <td style="text-align: right;">@c.dtn.ToString("MMMM dd, yyyy")</td>
                                      <td style="text-align: right;">@c.equipe</td>
                                  </tr>
                              }
                          </tbody>
                        </table>
                      </div>
                    </div>
                </div>
                <button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#modalCenterCoureur">
                  Create Coureur
                </button>
              </div>
            </div>
        </div>
      </div>

    </div>
</div>


    <div class="modal fade" id="modalCenter" tabindex="-1" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <form class="mb-3" action="@Url.Action("createEtape", "Admin")" method="POST">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="modalCenterTitle">Create etape</h5>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body">
              <div class="row g-2">
                <div class="col mb-0">
                  <label for="nameWithTitle" class="form-label">Nom</label>
                  <input
                    type="text"
                    id="nameWithTitle"
                    class="form-control"
                    name="nom"
                  />
                </div>
                <div class="col mb-0">
                  <label for="emailWithTitle" class="form-label">Longeur en km</label>
                  <input
                    type="number"
                    id="emailWithTitle"
                    class="form-control"
                    name="lkm"
                  />
                </div>
              </div>
              <div class="row g-2">
                <div class="col mb-0">
                <label for="dobWithTitle" class="form-label">Nombre coureur</label>
                <input
                  type="number"
                  id="dobWithTitle"
                  class="form-control"
                  name="nbCoureur"
                />
              </div>
              <div class="col mb-0">
                <label for="dobWithTitle" class="form-label">Rang etape</label>
                  <select name="rangEtape"
                    class="form-select">
                    @for(int i = 1; i < 11; i++)
                    {
                      <option value="@i">Rang @i</option>
                    }
                  </select>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
              Close
            </button>
            <button type="submit" class="btn btn-primary">Save changes</button>
          </div>
        </div>
        </form>

      </div>
    </div>


    <div class="modal fade" id="basicModal" tabindex="-1" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <form class="mb-3" action="#" method="POST">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="modalCenterTitle">Create equipe</h5>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body">
              <div class="row g-2">
                  <label for="nameWithTitle" class="form-label">Nom</label>
                  <input
                    type="text"
                    id="nameWithTitle"
                    class="form-control"
                    name="nom"
                  />
              </div>
              
              <div class="row g-2">
                <div class="col-6">
                    <label for="emailWithTitle" class="form-label">Username</label>
                    <input
                      type="text"
                      id="emailWithTitle"
                      class="form-control"
                      name="username"
                    />
                </div>
                <div class="col-6">
                    <label for="emailWithTitle" class="form-label">Password</label>
                    <input
                      type="text"
                      id="emailWithTitle"
                      class="form-control"
                      name="password"
                    />
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
                Close
              </button>
              <button type="submit" class="btn btn-primary">Save changes</button>
            </div>
          </div>
        </form>
      </div>
    </div>




    <div class="modal fade" id="modalCenterCoureur" tabindex="-1" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <form class="mb-3" action="#" method="POST">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="modalCenterTitle">Create coureur</h5>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body">
              <div class="row g-2">
                  <label for="nameWithTitle" class="form-label">Nom</label>
                  <input
                    type="text"
                    id="nameWithTitle"
                    class="form-control"
                    name="nom"
                  />
              </div>
              
              <div class="row g-2">
                <div class="col-6">
                    <label for="emailWithTitle" class="form-label">Num Dossard</label>
                    <input
                      type="text"
                      id="emailWithTitle"
                      class="form-control"
                      name="username"
                    />
                </div>
                <div class="col-6">
                    <label for="emailWithTitle" class="form-label">Genre</label>
                      <select name="genre"
                        class="form-select">
                          <option value="masculin">Masculin</option>
                          <option value="feminin">Feminin</option>
                      </select>
                </div>
              </div>

              <div class="row g-2">
                <div class="col-6">
                    <label for="emailWithTitle" class="form-label">Date de naissance</label>
                    <input
                      type="date"
                      id="emailWithTitle"
                      class="form-control"
                      name="username"
                    />
                </div>
                <div class="col-6">
                    <label for="emailWithTitle" class="form-label">Equipe</label>
                      <select name="genre" class="form-select">
                        @foreach(var e in Model.equipeList)
                        {
                          <option value="@e.idUser">@e.name</option>
                        }
                      </select>
                </div>
              </div>
            </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
              Close
            </button>
            <button type="submit" class="btn btn-primary">Save changes</button>
          </div>
        </form>
      </div>
    </div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        function createChart() {
            // Parse the JSON data for the first chart
            var parsedData = JSON.parse('@Html.Raw(jsonData)');
            console.log(parsedData);

            // Create arrays for labels (equipe) and series (point)
            var labelsData = parsedData.map(function (item) {
                return item.equipe;
            });
            var seriesData = parsedData.map(function (item) {
                return parseInt(item.point);
            });

            // Configuration options for the first pie chart
            var options = {
                series: seriesData,
                chart: {
                    type: 'pie',
                    height: '500',
                    width: '500',
                },
                labels: labelsData,
            };

            // Initialize the first pie chart
            var chart = new ApexCharts(document.querySelector(".huhu"), options);
            chart.render();
        }

        function createChart2() {
            // Parse the JSON data for the second chart
            var parsedData2 = JSON.parse('@Html.Raw(jsonData2)');
            console.log(parsedData2);

            // Create arrays for labels (equipe) and series (point)
            var labelsData2 = parsedData2.map(function (item) {
                return item.equipe;
            });
            var seriesData2 = parsedData2.map(function (item) {
                return parseInt(item.point);
            });

            // Configuration options for the second pie chart
            var options2 = {
                series: seriesData2,
                chart: {
                    type: 'pie',
                    height: '500',
                    width: '500',
                },
                labels: labelsData2,
            };

            // Initialize the second pie chart
            var chart2 = new ApexCharts(document.querySelector(".hihi"), options2);
            chart2.render();
        }

        createChart();
        createChart2();
    });
</script>






