@{
    ViewData["Title"] = "Homepage";
}
<div class="container-xxl flex-grow-1 container-p-y">
    <div class="container-xxl flex-grow-1 container-p-y">
        <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Race /</span> List etape</h4>
        <div class="row mb-5">
            <div class="card">
                <p class="card-header"></p>
                <div class="table-responsive text-nowrap">
                  <table class="table table-striped">
                  @* <table class="table table-bordered"> *@
                    <thead>
                      <tr>
                        <th>Nom</th>
                        <th>Longeur en km</th>
                        <th>Nombre coureur</th>
                        <th>Rang etape</th>
                        <th>Add</th>
                      </tr>
                    </thead>
                    <tbody class="table-border-bottom-0">
                        @foreach(var d in Model.etapeList)
                        {
                            <tr>
                                <td><i class="fab fa-angular fa-lg text-danger me-3"></i><strong>@d.name</strong></td>
                                <td style="text-align: right;">@d.lkm km</td>
                                <td style="text-align: right;">@d.nbCoureur</td>
                                <td>@d.rangEtape</td>
                                <form action="@Url.Action("affecterCoureur", "Home")" method="post">
                                    <input type="hidden" name="idEtape" value="@d.idEtape">
                                    <td><button type="submit" class="btn btn-dark">Coureur</button></td>
                                </form>
                            </tr>
                        }
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            
        </div>

        <div class="row"> 
                <div class="card">
                    <div class="card-header"><h4>Chronos par coureur par etape</h4></div>
                    <div class="card-body">
                            @foreach(var c in Model.chronos)
                            {
                                <div class="row mt-5">
                                    <div class="col-4">
                                        <div class="demo-inline-spacing">
                                            <div class="list-group">
                                            <a
                                                href="javascript:void(0);"
                                                class="list-group-item list-group-item-action flex-column align-items-start"
                                            >
                                                <div class="d-flex justify-content-between w-100">
                                                <h6>@c.etape</h6>
                                                <small>@c.lkm km</small>
                                                </div>
                                                <p class="mb-1">Nombre coureur : @c.nbCoureur
                                                </p>
                                                <small>Rang etape : @c.rangEtape</small>
                                                <p>Date heure depart <strong>@c.dhDepart.ToString("MMMM dd, yyyy hh:mm:ss tt")</strong></p>
                                            </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-6">                                        
                                        <div class="demo-inline-spacing">
                                            <div class="list-group">
                                                <label class="list-group-item">
                                                    <p><i class="fab fa-angular fa-lg text-danger me-3"></i>@c.numDossard <strong>@c.coureur</strong> <span style="float: right;">@c.temps</span></p>
                                                    <button class="btn btn-sm rounded-pill btn-outline-warning">Ajouter coureur</button>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                    </div>
                </div>
          </div>
</div>

    </div>
</div>

